<!DOCTYPE html>
<html lang="{{ b.html_lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1, viewport-fit=cover">
  <title>{% block title %}{{ b.site_title }}{% endblock %}</title>
  <meta name="description" content="{{ b.meta_description }}">
  <meta name="color-scheme" content="light dark">
  <meta name="theme-color" content="{{ b.meta_theme_color }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}

  <!-- 页面主要内容 -->
  <main class="container">
    {% block content %}{% endblock %}
  </main>

  {% include 'footer.html' %}
  <script>
  window.lang = "{{ lang }}";
  window.i18n = {{ load_i18n(lang, 'js') | tojson }};
</script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>
